:root {
	--black: #000000;
	--gray1: #141516;
	--gray2: #212328;
	--gray3: #33363b;
	--gray4: #42454d;
	--gray5: #80828d;
	--text1: #ffffff;
	--text2: #a5a8b6;
	--text3: #828282;
	--text4: #000000;
	--green1: #3bdd52;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
	font-size: 15px;
	position: relative;
	min-height: 100%;
}

body {
	background-color: var(--gray1);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-ctnr {
	width: 1500px;
	max-width: 90%;
	display: flex;
	justify-content: center;
}

.learn-ctnr {
	width: 100%;
	padding-top: 50px;
	display: flex;
}



	.learn-ctnr .form-ctnr {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100%;
	}

		.learn-ctnr .form-ctnr .title {
			font-size: 25px;
		}

		.learn-ctnr .form-ctnr .form {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

			.learn-ctnr .form-ctnr .form label {
				font-size: 15px;
			}

			.learn-ctnr .form-ctnr .form .input {
				height: 20px;
				max-width: 300px;
				border: 1px solid var(--gray4);
				background-color: var(--gray2);
				color: var(--text1);
				padding: 4px;
			}

			.learn-ctnr .form-ctnr .form .btn {
				width: fit-content;
			}


	.learn-ctnr .side-nav {
		width: 250px;
	}

		.learn-ctnr .side-nav .active {
			color: var(--green1) !important;
		}

		.learn-ctnr .side-nav .topics-ctnr {
			width: 100%;
			height: fit-content;
			margin-bottom: 20px;
			border: 1px solid red;
		}

			.learn-ctnr .side-nav .topics-ctnr .topic {
				border-bottom: 1px solid var(--gray4);
				transition-delay: 2s;
				
			}

				.learn-ctnr .side-nav .topics-ctnr .topic .title {
					display: flex;
					padding: 5px;
					gap: 10px;
					/*                background: linear-gradient(90deg, var(--gray1), var(--gray2), var(--gray3) 100%);*/
					cursor: pointer;
					user-select: none;
				}

					.learn-ctnr .side-nav .topics-ctnr .topic .title:hover {
						background-color: var(--gray2);
					}

					.learn-ctnr .side-nav .topics-ctnr .topic .title p {
						line-height: 18px;
						text-align: center;
					}

				.learn-ctnr .side-nav .topics-ctnr .topic .subset {
					display: flex;
					flex-direction: column;
					border: 1px solid green;
					padding-left: 10px;
				}

					.learn-ctnr .side-nav .topics-ctnr .topic .subset .sub-item {
						cursor: pointer;
						user-select: none;
						padding: 2px 15px;
						text-decoration: none;
						color: var(--text2);
					}

						.learn-ctnr .side-nav .topics-ctnr .topic .subset .sub-item:hover {
							background-color: var(--gray2);
						}

	.learn-ctnr .content {
		padding: 0 30px;
		flex-grow: 1;
	}

		.learn-ctnr .content .section {
			width: 100%;
			padding-bottom: 20px;
		}

		.learn-ctnr .content .filler {
			min-height: 200px;
		}

		.learn-ctnr .content .break {
			border-bottom: 1px solid var(--gray4);
		}

		.learn-ctnr .content .title {
			font-size: 25px;
			margin-bottom: 20px;
		}

		.learn-ctnr .content .subtitle {
			font-size: 18px;
		}

		.learn-ctnr .content .message-ctnr {
			display: flex;
			gap: 20px;
			align-items: center;
		}

			.learn-ctnr .content .message-ctnr .img-ctnr {
			}

				.learn-ctnr .content .message-ctnr .img-ctnr img {
					height: 100px;
					width: 100px;
					filter: invert(23%) sepia(13%) saturate(412%) hue-rotate(186deg) brightness(99%) contrast(87%);
				}

			.learn-ctnr .content .message-ctnr .text-ctnr {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

				.learn-ctnr .content .message-ctnr .text-ctnr .text {
					display: flex;
					align-items: center;
					font-size: 20px;
					color: var(--gray5);
				}

				.learn-ctnr .content .message-ctnr .text-ctnr .options {
					width: 100%;
					display: flex;
					justify-content: flex-end;
				}


.nav-link {
	text-decoration: none;
	font-size: 15px;
	color: var(--text2);
}

	.nav-link.active {
		color: var(--text1)
	}

.btn {
	border: 1px solid var(--gray5);
	background-color: var(--gray2);
	color: var(--text2);
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 15px;
	text-decoration: none;
}

	.btn:hover {
		cursor: pointer;
		color: var(--text1);
	}
