:root {
    --black: #000000;
    --gray1: #19191a;
    --gray2: #1a1c21;
    --gray3: #25272b;
    --gray4: #3a3d46;
    --gray5: #727582;
    --nav-text: #a5a8b6;
    --text1: #ffffff;
    --text2: #828282;
    --text3: #000000;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--gray1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-ctnr {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .main-ctnr .games-ctnr {
        padding-top: 50px;
        max-width: 70%;
        width: 1500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        color: var(--text1);
    }

        .main-ctnr .games-ctnr .game {
            border-radius: 10px;
            width: 230px;
            height: 300px;
            background-color: var(--gray4);
            padding: 10px;
        }

            .main-ctnr .games-ctnr .game .title {
                font-size: 30px;
            }

            .main-ctnr .games-ctnr .game .thumbnail {
            }

            .main-ctnr .games-ctnr .game .description {
            }

    .main-ctnr .learn-ctnr {
        max-width: 70%;
        width: 1500px;
        padding-top: 50px;
        display: flex;
    }

        .main-ctnr .learn-ctnr .side-nav {
            width: 220px;
        }

            .main-ctnr .learn-ctnr .side-nav .topic {
            }

                .main-ctnr .learn-ctnr .side-nav .topic .title {
                    padding-left: 5px;
                    border-bottom: 1px solid var(--gray5);
                    background-color: var(--gray3);
                    font-weight: bold;
                    cursor: pointer;
                    user-select: none;
                }

                .main-ctnr .learn-ctnr .side-nav .topic .subset {
                    display: flex;
                    flex-direction: column;
                }

                    .main-ctnr .learn-ctnr .side-nav .topic .subset .sub-item {
                        cursor: pointer;
                        user-select: none;
                        padding-left: 15px;
                        border-bottom: 1px solid var(--gray4);
                    }

                        .main-ctnr .learn-ctnr .side-nav .topic .subset .sub-item:hover {
                            background-color: var(--gray2);
                        }

        .main-ctnr .learn-ctnr .content {
            padding: 0 30px;
        }

            .main-ctnr .learn-ctnr .content .title {
                font-size: 30px;
            }

            .main-ctnr .learn-ctnr .content .subtitle {
            }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}