<div class="message-ctnr">
   <div class="img-ctnr">
      <img src="/images/exclamation.svg" />
   </div>
   <div class="text-ctnr">
      <p class="text">
         There is no content for this page yet.
      </p>
      <div class="options">
         <EditPageButton/>
      </div>
   </div>
</div>

@code {

}
