@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<button @onclick="CreatePage" class="btn">Create Page</button>

@code {

   void CreatePage() {
      NavigationManager.NavigateTo("/learn/create-page");
   }
}
