@page "/learn/create-topic"
@inject ILearnPageService LearnPageService
@inject ILearnTopicService LearnTopicService
@inject NavigationManager NavigationManager
@inject ILogger<CreateTopic> Logger

<EditForm Model="@learnTopic" OnValidSubmit="HandleSubmit" FormName="createTopic">
   <label>Topic Title</label>
   <InputText @bind-Value="learnTopic.Title"></InputText>

   <button type="submit" class="btn">Submit</button>
</EditForm>

@code {
   [SupplyParameterFromForm]
   LearnTopic learnTopic { get; set; } = new LearnTopic {
      Title = string.Empty
   };

   private async Task HandleSubmit() {
      await LearnTopicService.AddTopic(learnTopic);
      NavigationManager.NavigateTo("/learn");
   }
}