@page "/learn/create-topic"
@inject ILearnPageService LearnPageService
@inject ILearnTopicService LearnTopicService
@inject NavigationManager NavigationManager
@inject ILogger<CreateTopic> Logger

<div class="learn-ctnr">
   <div class="form-ctnr">
      <p class="title">Create Topic</p>
      <EditForm class="form" Model="@learnTopic" OnValidSubmit="HandleSubmit" FormName="createTopic">
         <label>Title</label>
         <InputText class="input" @bind-Value="learnTopic.Title"></InputText>
         <button type="submit" class="btn">Submit</button>
         <a href="/learn" class="btn">Return Home</a>
      </EditForm>
   </div>
</div>

@code {
   [SupplyParameterFromForm]
   LearnTopic learnTopic { get; set; } = new LearnTopic {
      Title = string.Empty
   };

   private async Task HandleSubmit() {
      await LearnTopicService.AddTopic(learnTopic);
      NavigationManager.NavigateTo("/learn");
   }
}